<!-- Portfolio Modals -->
{% for project in site.portfolio %}
<div
  class="portfolio-modal modal fade"
  id="{{ project.link }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase" style="color: #{{ project.color }};">{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>
              {% if project.images %}
              {% include carousel.html height="50" unit="%" duration="7" %}
              <p>{{ project.images_desc }} </p>
              {% endif %}
              <!-- <img
                class="img-fluid d-block mx-auto"
                src="{{ project.image }}"
                alt="{{ project.alt }}"
              /> -->
              <h3 id="lieu-et-dates">Lieu et dates</h3>
              <p>{{ project.dates }}</p>
              <div class="row">
                <div class="col-lg-8 mx-auto">{{ project.map }}</div>
                <div class="col-lg-4 mx-auto">
                  <h4>Adresse</h4>
                  <p>{{ project.address | markdownify }}</p>
                </div>
              </div>
              <p>{{ project.content }}</p>

              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
                style="background-color: #{{ project.color }}; border-color: #{{ project.color }};"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close Project" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Portfolio Modals -->
