// Global styling for this template
@font-face {
    font-family: 'prompt';
    src: url('/assets/font/Prompt-Regular.ttf');
}
@font-face {
    font-family: 'prompt-italic';
    src: url('/assets/font/Prompt-Italic.ttf');
}
@font-face {
    font-family: 'prompt-bold';
    src: url('/assets/font/Prompt-Bold.ttf');
}
body {
    overflow-x: hidden;
    font-family: 'prompt';
}

p {
    line-height: 1.75;
}

a {
    color: $primary;

    &:hover {
        color: darken($primary, 10%);
    }
}

.text-primary {
    color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.page-section {
    padding: 100px 0;

    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    h3.section-subheading {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 75px;
        text-transform: none;
    }

    ul {
        text-align: left;
        display: inline-block;
    }

    .video-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
    }

    @media (min-width: 992px) {
        .video-container {
            position: relative;
            width: 75%;
            padding-bottom: 42.19%;
            transform: translateX(16.7%);
        }
    }

    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}

// Highlight color customization
::-moz-selection {
    background: $primary;
    text-shadow: none;
    color: $white;
}

::selection {
    background: $primary;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
